<div class="categories--container flex flex-col p-4 pl-6 pr-0">
  <h2 *ngIf="loading">Loading...</h2>

  <div
    class="categories--category-item mb-4"
    *ngFor="let category of categories"
  >
    <h2 class="category-item--name text-xl">{{ category.name }}</h2>

    <div class="movies-loading" *ngIf="category.loading">Movies loading</div>

    <div
      *ngIf="!category.loading"
      class="movies-list flex gap-2 mt-2 overflow-x-auto"
    >
      <div
        class="movie--details cursor-pointer"
        (click)="openBottomSheet(movie)"
        *ngFor="let movie of category.movies"
      >
        <div class="card card-side bg-base-100 shadow-xl">
          <figure>
            <img src="{{ movie.thumbnailUrl }}" alt="{{ movie.title }}" />
          </figure>
        </div>
      </div>

      <div *ngIf="category.movies?.length === 0" class="no-movies">
        No movies found
      </div>
    </div>
  </div>
</div>
