.categories {
  &--container {
    padding: 26px;
  }
}

.movie {
  &--details {
    padding: 16px;

    &--title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    &--poster {
      height: 150px;
    }
  }
}
