<div
  class="loader flex flex-col h-full items-center justify-center"
  *ngIf="loading || error.error"
>
  <span
    class="loading flex flex-col items-center justify-center"
    *ngIf="loading"
  >
    <progress class="progress w-56"></progress>
    <h1 class="text-xl mt-4">Please wait while data is loaded...</h1>
  </span>

  <span
    class="error flex flex-col items-center justify-center"
    *ngIf="error.error"
  >
    <img class="empty-state-img" src="assets/error_state.webp" />
    <h2 class="text-l mt-4">{{ error.message }}</h2>
  </span>
</div>

<div *ngIf="!loading" class="categories--container flex flex-col p-4 pl-6 pr-0">
  <div
    class="categories--container--category-item mb-4"
    *ngFor="let category of categories"
  >
    <h2 class="categories--container--category-item--name text-xl font-bold">
      {{ category.name }}
    </h2>
    <progress *ngIf="category.loading" class="progress w-56"></progress>
    <div
      *ngIf="!category.loading"
      class="movies-list flex gap-2 mt-2 overflow-x-auto"
    >
      <div
        class="movie--details cursor-pointer"
        (click)="openBottomSheet(movie)"
        *ngFor="let movie of category.movies"
      >
        <div class="card card-side bg-base-100 shadow-xl">
          <figure>
            <img src="{{ movie.thumbnailUrl }}" alt="{{ movie.title }}" />
          </figure>
        </div>
      </div>

      <div
        class="flex flex-col flex-1 items-center"
        *ngIf="(category.movies || []).length === 0"
      >
        <img class="empty-state-img" src="assets/error_state.webp" />
        <h2 class="text-l mt-4">No movies found for: {{ category.name }}</h2>
      </div>
    </div>
  </div>
</div>
