<div class="add-movie-container flex flex-1 flex-col items-center gap-2 mt-2">
  <h2 class="text-2xl">Add New Movie</h2>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Movie Title</span>
    </label>
    <input
      type="text"
      [(ngModel)]="movie.title"
      class="input input-bordered w-full max-w-xs"
    />
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Movie Description</span>
    </label>
    <textarea
      class="textarea textarea-bordered"
      [(ngModel)]="movie.description"
    ></textarea>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Release Year</span>
    </label>
    <input
      type="number"
      max="2023"
      [(ngModel)]="movie.releaseYear"
      class="input input-bordered w-full max-w-xs"
    />
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Duration (Minutes)</span>
    </label>
    <input
      type="number"
      minlength="3"
      maxlength="3"
      [(ngModel)]="movie.duration"
      class="input input-bordered w-full max-w-xs"
    />
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Rating (1 to 10)</span>
    </label>
    <input
      type="number"
      min="1"
      max="10"
      [(ngModel)]="movie.rating"
      class="input input-bordered w-full max-w-xs"
    />
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Age Rating</span>
    </label>
    <select class="select select-bordered" [(ngModel)]="movie.ageRating">
      <option disabled selected>Select Age Rating</option>
      <option value="A">Adult</option>
      <option value="U/A">U/A</option>
      <option value="U">Universal</option>
    </select>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Category</span>
    </label>
    <select
      [disabled]="loading"
      class="select select-bordered"
      [(ngModel)]="movie.category"
    >
      <option disabled selected>Select Category</option>
      <option *ngFor="let category of categories" [value]="category._id">
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Thumbnail</span>
    </label>
    <div
      *ngIf="movie.thumbnailUrl"
      class="indicator flex justify-center img-thumbnail-wrapper"
    >
      <span
        class="indicator-item badge badge-primary cursor-pointer"
        (click)="removeAttachment('thumbnail')"
      >
        <mat-icon class="icon icon-close">close</mat-icon>
      </span>
      <img class="img-thumbnail" [src]="movie.thumbnailUrl" alt="Thumbnail" />
    </div>
    <input
      *ngIf="!movie.thumbnailUrl"
      type="file"
      accept="image/*"
      (change)="onFileChange($event, 'thumbnail')"
      class="file-input file-input-bordered w-full max-w-xs"
    />
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Trailer</span>
    </label>
    <div
      *ngIf="movie.trailerUrl"
      class="indicator flex justify-center img-thumbnail-wrapper"
    >
      <span
        class="indicator-item badge badge-primary cursor-pointer"
        (click)="removeAttachment('trailer')"
      >
        <mat-icon class="icon icon-close">close</mat-icon>
      </span>
      <video
        class="movie-trailer"
        *ngIf="movie.trailerUrl"
        [src]="movie.trailerUrl"
        controls
      ></video>
    </div>
    <input
      *ngIf="!movie.trailerUrl"
      type="file"
      accept="video/*"
      (change)="onFileChange($event, 'trailer')"
      class="file-input file-input-bordered w-full max-w-xs"
    />
  </div>
  <div class="alert alert-error shadow-lg w-2/3 self-center" *ngIf="error">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-current flex-shrink-0 h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        (click)="error = ''"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span>{{ error }}</span>
    </div>
  </div>

  <button
    class="btn"
    [ngClass]="{ 'loading btn-disabled': loading }"
    (click)="addMovie()"
  >
    Submit
  </button>
</div>
